

        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list" id="menu">
              <li class="nav-header">Student</li>
              <li id="promo"><a href="#promotion">Promotion</a></li>
              <li id="student"><a href="#student">Student</a></li>
              <li><a href="#">Add mark</a></li>
              <li class="nav-header">Parameters</li>
              <li><a href="#">My account</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        