

        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Student</li>
              <li class="active"><a href="javascript:loadPromotion()">Promotion</a></li>
              <li><a href="#">Student</a></li>
              <li><a href="#">Add mark</a></li>
              <li class="nav-header">Parameters</li>
              <li><a href="#">My account</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        