

        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list" id="menu">
              <li class="nav-header">Student</li>
              <li id="promo">	<a href="/dashboard/promotion">Promotion</a></li>
              <li id="student">	<a href="/dashboard/student">Student</a></li>
              <li id="mark">	<a href="/dashboard/mark">Add mark</a></li>
              <li class="nav-header"> Parameters</li>
              <li id="settings"> <a href="/dashboard/settings">My account</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        