
<form class="form-horizontal" action="/studentAdd" method="post">
  <div class="control-group">
    <label class="control-label" for="inputEmail">Firstname</label>
    <div class="controls">
      <input type="text" name="firstname" id="inputfirstname" placeholder="">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputlastname">Lastname</label>
    <div class="controls">
      <input type="password" name="lastname"  id="inputlastname" placeholder="">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputstudentnumber">Student number</label>
    <div class="controls">
      <input type="password" name="number"  id="inputstudentnumber" placeholder="">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputstudentmail">Student mail</label>
    <div class="controls">
      <input type="password" name="mail"  id="inputstudentmail" placeholder="">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Add</button>
    </div>
  </div>
</form>