@(status: Int, student: StudentModel, promolist : List[PromotionModel])

<span style="color:#36c;cursor: pointer" onclick="history.go(-1);">go back</span>
@if(status == 404)	{
<div class="alert alert-error">
We can not load you student.
</div>
}else	{
	<div class="span11" id="headerDescription">
		<h2 class="span7">@student.getNumStu() - @if(student.getFirstname()!=null){@student.getFirstname()} @if(student.getLastname() != null){@student.getLastname()}</h2>
		<h4 class="span3 offset1">Promotion : @if(student.getPromotion()!=null){@student.getPromotion().getLabel() @student.getPromotion().getAnnee()}</h4>
		<span class="span1" style="margin-top:30px;color:#36c;cursor: pointer" role="button" data-toggle="modal" data-target="#myModal" >[edit]</span>

		<!-- Modal -->
		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  			<div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    			<h3 id="myModalLabel">Edit name and promotion</h3>
  			</div>
		 	<div class="modal-body">
		    	<form class="form-horizontal">
				  <div class="control-group">
				    <label class="control-label" for="inputfirstname">firstname</label>
				    <div class="controls">
				      <input type="text" id="inputfirstname" value="@student.getFirstname()" />
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="control-label" for="inputlastname">lastname</label>
				    <div class="controls">
				      <input type="text" id="inputlastname" value="@student.getLastname()" />
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="control-label" for="inputstunumber">student number</label>
				    <div class="controls">
				      <input type="text" id="inputstunumber" value="@student.getNumStu()" />
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="control-label" for="inputmail">mail</label>
				    <div class="controls">
				      <input type="text" id="inputmail" value="@student.getEmail()" />
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="control-label" for="inputpromotion">promotion</label>
				    <div class="controls">
				      <select>
				      @for(promo <- promolist)	{
				      	<option @if(student.getPromotion()!= null && promo.id() == student.getPromotion().id()) {selected="selected"} value="@promo.id()">@promo.getLabel() @promo.getAnnee()</option>
					  }
				      </select>
				      <input type="hidden" id="idstu" value="@student.id()" />
				    </div>
				  </div>
				</form>
		  	</div>
		  	<div class="modal-footer">
		    	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		    	<button class="btn btn-primary" onclick="editStudentModel()">Save changes</button>
		  	</div>
		</div>
	</div>
	<div class="span11"><h4>marks :</h4>
	<table class="table">
	@for(test <- student.getLstTest())	{
		<tr id="@test.id()-@session().get("idTeacher")">
			<td>@if(test.getSubject() != null){@test.getSubject().getName()}else{Unknow}</td>
			<td>@test.getNote()</td>
			<td>
			@if(test.getTeacher().id() == session().get("idTeacher"))	{
				<div class="btn-group">
					<button onclick="editMark('@test.id()-@session().get("idTeacher")')"  class="btn">Edit</button>
					<button onclick="deleteMark('@test.id()-@session().get("idTeacher")')" class="btn btn-danger">Delete</button>
				</div>
			</td>
			}
		</tr>
	}
	</table>
	</div>
}
