@(status: Int, student: StudentModel)

<a href="javascript:history.go(-1);">go back</a>
@if(status == 404)	{
<div class="alert alert-error">
We can not load you student.
</div>
}else	{
	<div class="span12">
		<h1 class="span7">@student.getNumStu() - @student.getFirstname() @student.getLastname()</h1>
		<h4 class="span3 offset2">Promotion : @student.getPromotion().getAnnee()</h4>
	</div>
	<div class="span12"><h4>marks :</h4>
	<ul>
	@for(test <- student.getLstTest())	{
		<li>@if(test.getSubject() != null){ test.getSubject().getName() }else{ unknow } : test.getNote() </li>
	}
	</ul></div>
}
