@(lst : Array[PromotionModel])
@if(session().containsKey("statusadd")) {
	@if(session().get("statusadd") == "true")	{
	<div class="alert alert-success">
		The student has been created
	</div>
	}else	{
	<div class="alert alert-error">
		something went wrong, when we want to insert the student
	</div>
	}
	@session().remove("statusadd")
}
<form class="form-horizontal" action="/dashboard/student/add" method="post">
  <div class="control-group">
    <label class="control-label" for="inputEmail">Firstname</label>
    <div class="controls">
      <input type="text" name="firstname" id="inputfirstname" placeholder="">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputlastname">Lastname</label>
    <div class="controls">
      <input type="text" name="lastname"  id="inputlastname" placeholder="">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputstudentnumber">Student number</label>
    <div class="controls">
      <input type="text" name="number"  id="inputstudentnumber" placeholder="">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputstudentmail">Student mail</label>
    <div class="controls">
      <input type="text" name="mail"  id="inputstudentmail" placeholder="">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputpromotion">Promotion</label>
    <div class="controls">
      <select name="promotion" id="inputpromotion">
      @for(i<- 0 to lst.length-1)	{
      	<option value="@lst(i).id().toString()">@lst(i).getLabel() - @lst(i).getAnnee()</option>
      }
      </select>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Add</button>
    </div>
  </div>
</form>